<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">
        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'CARBON.SpellName' }}"/>
            </h1>

            <div class="item-subtitle">
                <h4 class="item-type">{{localize "CARBON.ItemTypeSpell"}}</h4>
                <span class="item-status">{{itemStatus}}</span>
            </div>

            <ul class="summary flexrow">
                <li>
                    <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'CARBON.Source' }}"/>
                </li>
            </ul>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "CARBON.Description" }}</a>
        <a class="item" data-tab="details">{{ localize "CARBON.Details" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        {{> "systems/carbon2185/templates/items/parts/item-description.html"}}

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            <h3 class="form-header">{{ localize "CARBON.SpellDetails" }}</h3>

            {{!-- Preparation Mode --}}
            <div class="form-group input-select">
                <label>{{ localize "CARBON.SpellPreparationMode" }}</label>
                <div class="form-fields">
                    <label class="checkbox prepared">
                        {{ localize "CARBON.SpellPrepared" }} <input type="checkbox" name="data.preparation.prepared" {{checked data.preparation.prepared}}/>
                    </label>
                    <select name="data.preparation.mode">
                        {{#select data.preparation.mode}}
                        <option value=""></option>
                        {{#each config.spellPreparationModes as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <h3 class="form-header">{{ localize "CARBON.SpellCastingHeader" }}</h3>

            {{!-- Item Activation Template --}}
            {{> "systems/carbon2185/templates/items/parts/item-activation.html"}}

            <h3 class="form-header">{{ localize "CARBON.SpellEffects" }}</h3>

            {{!-- Item Action Template --}}
            {{> "systems/carbon2185/templates/items/parts/item-action.html"}}

            {{!-- Spell Level Scaling --}}
            <div class="form-group">
                <label>{{ localize "CARBON.LevelScaling" }}</label>
                <div class="form-fields">
                    <select name="data.scaling.mode">
                        {{#select data.scaling.mode}}
                        {{#each config.spellScalingModes as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <input type="text" name="data.scaling.formula" value="{{data.scaling.formula}}" placeholder="{{ localize 'CARBON.ScalingFormula' }}"/>
                </div>
            </div>
        </div>
    </section>
</form>
